
body {
background-image:url("wolf_1.jpg");

}
.wulf {
border-style: solid;
background-color: rgb(134, 100, 173);
}

.user1 {
    font-size: 12px;
}

.user1 {
border-style: solid;
background-color: rgb(55, 206, 38); 
width: 120px;

}

.mirko2 {
    border-style: solid;
    background-color: rgb(191, 226, 95); 
    width: 130px; 
}
.domain {
    border-style: solid;
    background-color: rgb(95, 81, 131); 
    width: 180px;
}
.user2 {
    border-style: solid;
    background-color: rgb(124, 117, 145); 
    width: 400px;
}
.simon  {
    border-style: solid;
    background-color: rgb(124, 117, 145); 
    width: 100px;
    height: 100px;
    width: 50%;
    position: absolute;
    left: 40px;
    top: 650px;
    z-index: -1;
    text-indent: 4px;
    
}